# Prevent sensitive files from being committed
.config/fish/config_secrets.fish  filter=crypt diff=crypt merge=crypt
.claude.json  filter=crypt diff=crypt merge=crypt
.config/1mcp/mcp.json  filter=crypt diff=crypt merge=crypt
.ssh/config  filter=crypt diff=crypt merge=crypt
.codex/config.toml  filter=crypt diff=crypt merge=crypt
.gemini/settings.json  filter=crypt diff=crypt merge=crypt
.config/backrest/config.json  filter=crypt diff=crypt merge=crypt
