/* =============================================================================
 * Waybar configuration
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 * =========================================================================== */

@import "mocha.css";

/* =============================================================================
 * Base Styles & Reset
 * =========================================================================== */
* {
    color: @text;
    border: 0;
    padding: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-feature-settings: "zero";
    font-size: 12px;
    font-weight: bold;
    transition: all 0.5s ease;
}

window#waybar {
    background-color: transparent;
}

#waybar > box {
    border-bottom: 2px solid shade(@base, 1.1);
    background-color: alpha(@base, 0.85);
    background: linear-gradient(180deg, alpha(@base, 0.85) 0%, alpha(@crust, 0.85) 100%);
    border-radius: 0 0 10px 10px;
    /*margin: 0px 0px 10px 0px;*/
   /* background-color: rgba(18, 21, 29, 0.98);*/
   /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.7);*/
    /*box-shadow: 0 1px 5px 1px alpha(@crust, 0.80);*/
    transition-property: background-color;
    transition-duration: .5s;
}

@keyframes blink {
    to { color: @lavender; }
}

/* =============================================================================
 * Workspaces
 * =========================================================================== */
#workspaces {
    background-color: @base;
    border-radius: 10px;
    margin: 4px 0 4px 4px;
    border-style: solid;
}

#workspaces button {
    color: @base;
    border-radius: 50%;
    margin: 0;
    padding: 2px 6px 2px 0;
}

#workspaces button * {
    color: @text;
}

#workspaces button:hover *,
#workspaces button:hover {
    color: @mauve;
    box-shadow: none;
    text-shadow: none;
    background: none;
}

#workspaces button.focused,
#workspaces button.focused * {
    color: @peach;
}

/* =============================================================================
 * Module Base Styles
 * =========================================================================== */
.module {
    border: solid 1px @surface0;
    padding: 0px 12px;
    border-style: solid;
    border-radius: 10px;
    background-color: shade(@base, 1.1);
    margin: 4px;
}
.module:hover {
    background-color: @surface0;
}

/*
#clock,
#custom-weather,
#custom-launcher,
#custom-lock,
#custom-notification,
#custom-swap,
#custom-background,
#custom-cava-internal,
#battery,
#cpu,
#memory,
#idle_inhibitor,
#temperature,
#custom-keyboard-layout,
#backlight,
#network,
#pulseaudio,
#mode,
#tray,
#custom-power,
#custom-pacman,
#mpd {
    padding: 0px 12px;
    border: solid 1px #313244;
    border-radius: 10px;
    background-color: shade(@base, 1.1);
    margin: 4px;
}

#clock:hover,
#custom-weather:hover,
#custom-lock:hover,
#custom-notification:hover,
#custom-swap:hover,
#custom-background:hover,
#custom-cava-internal:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#idle_inhibitor:hover,
#temperature:hover,
#custom-keyboard-layout:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#mode:hover,
#tray:hover,
#custom-power:hover,
#custom-pacman:hover,
#mpd:hover {
    background-color: @surface0;
}
*/

/* =============================================================================
 * Custom Modules
 * =========================================================================== */
#custom-cava-internal,
#mpd {
    color: @mauve;
}

#mpd {
    background-color: transparent;
    margin-left: 5px;
}

#custom-swap {
    color: @base;
    background-color: @mauve;
    margin-left: 10px;
}

#custom-background {
    background-color: @base;
    color: @text;
    padding: 5px 14px 5px 5px;
    border-radius: 0 10px 10px 0;
}

#custom-lock {
    padding-right: 7px;
}

#custom-launcher {
    background-color: shade(@base, 1.1);
    color: @mauve;
    padding: 4px 16px;
}

#custom-launcher:hover {
    background-color: @surface0;
}

#custom-power {
    color: @base;
    background-color: @red;
    margin: 8px 15px 8px 5px;
    padding: 5px 10px;
}

#custom-keyboard-layout {
    color: @peach;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
}

/*
.modules-center  {
    margin: 4px 0;
    padding: 0px 0;
    border-width: 0;
    outline-width: 0;
    background: #1e1e2e;
    border-radius: 16px;
}

.modules-center .module { margin: 2px; border-radius: 10px; padding: 0 8px; }

#clock {
    color: @text;
    border-radius: 10px 0 0 10px;
    margin-right: 0px;
}
#custom-weather {
    color: @text;
    border-radius: 0 10px 10px 0;
    margin-left: 0px;
}
*/

/* =============================================================================
 * System Modules
 * =========================================================================== */
#backlight {
    color: @yellow;
}

#battery {
    color: @green;
}

#battery.charging {
    color: @sapphire;
}

#battery.critical:not(.charging) {
    color: @red;
    animation: blink 0.5s linear infinite alternate;
}

#cpu {
    min-width: 48px;
}

#cpu,
#cpu #cpu-icon {
    color: @peach;
}

#memory {
    color: @pink;
}

#network {
    color: @rosewater;
}

#network.disabled,
#network.disconnected {
    color: @red;
}

#pulseaudio {
    color: @flamingo;
}

#pulseaudio.muted {
    color: @surface0;
}

#temperature {
    color: @teal;
}

#temperature.critical {
    color: @red;
}

#idle_inhibitor.activated {
    background-color: @blue;
    color: @base;
}

/* =============================================================================
 * Window & Taskbar
 * =========================================================================== */
#window {
    color: @text;
    margin: 0 10px;
    border-style: hidden;
}

#taskbar {
    border-style: solid;
    border-radius: 10px;
    background-color: shade(@base, 1.1);
    margin: 4px;
}
#taskbar button {
    padding: 0;
}
#taskbar button:hover {
    background: @surface0;
}
#taskbar button.active {
    border: solid 1px @surface0;
    background: @mantle;
}
#taskbar button box { }
#taskbar button box label { }
#taskbar button box image { }

#tray {}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
#tray menu {
    background-color: @base;
}
#tray menu menuitem {
    padding: 0px 5px;
    transition: all .3s ease; 
}

#tray menu separator {
    transition: all .3s ease; 
}


/* =============================================================================
 * Tooltips
 * =========================================================================== */
tooltip {
    border-radius: 15px;
    background: @base;
    border: 1px solid @lavender;
    min-width: 1em;
}

tooltip > box {
    padding: 15px;
}

tooltip label {
    color: @text;
}
